<p>Generation <%= generation %></p>
<p>Grid Size: <%= grid_size[:rows] %> x <%= grid_size[:cols] %></p>

<table>
  <% (1..generation).each do |gen| %>
    <tr>
      <% grid.each do |row| %>
        <td><%= row.join(' ') %></td>
      <% end %>
    </tr>
  <% end %>
</table>

<form action="/next_generation" method="POST">
    <%= csrf_meta_tag %>
    <input type="hidden" name="generation" value="<%= generation %>">
    <input type="hidden" name="gridSize" value="<%= grid_size.to_json %>">
    <input type="hidden" name="grid" value="<%= grid.to_json %>">
    <button type="submit">Calculate Next Generation</button>
</form>