<p>Generation <%= generation %></p>
<p>Grid Size: <%= grid_size[:rows] %> x <%= grid_size[:cols] %></p>

<table>
  <% if grid %>
    <% grid.each do |row| %>
      <tr>
        <% row.each do |cell| %>
          <td><%= cell == '*' ? 'ðŸŸ©' : 'â¬œï¸' %></td>
        <% end %>
      </tr>
    <% end %>
  <% else %>
    <tr>
      <td colspan="3">No grid data available.</td>
    </tr>
  <% end %>
</table>

<form action="/next_generation" method="POST">
    <%= csrf_meta_tag %>
    <input type="hidden" name="generation" value="<%= generation %>">
    <input type="hidden" name="gridSize" value="<%= grid_size.to_json %>">
    <input type="hidden" name="grid" value="<%= grid.to_json %>">
    <button type="submit">Calculate Next Generation</button>
</form>